@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --foreground: #0D121E;
}

[data-theme='dark'] {
  --background: #0D121E;
  --foreground: #F5F5F5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background 0.3s ease, color 0.3s ease;
}

.card-bg {
  @apply bg-[#0D121E]; /* Azul oscuro para light mode */
}

[data-theme='dark'] .card-bg {
  @apply bg-[#F5F5F5]; /* Ya está bien en dark */
}

.card-container {
  @apply bg-white text-[#0D121E] border border-gray-500 shadow-xl;
}

[data-theme='dark'] .card-container {
  @apply bg-[#1F2430] text-gray-900 border-gray-300;
}

.card-id {
  @apply text-gray-800;
}


[data-theme='dark'] .card-id {
  @apply text-gray-300;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}
